html5

html
	head
		title= pageTitle
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		header
			h1= pageTitle
		section#status
			if session.isLoggedIn
				a(href="/logout") Logout
			else
				a(href="/login") Login
				a(href="/signup") Signup
		section#content
			block content
		script(src='js/main.js')