/**
 * Style Sheet for All Pages
 * @author TakLee96
 */

.error {
    color: red;
}

.msg {
    color: white;
}

.send {
    background-color: green;
}

.receive {
    background-color: blue;
}

/**
 * #status {}
 * #content {}
 * #_id {}
 * #pass {}
 * #email {}
 * #msg {}
 * #send {}
 * #messages {}
 */
